# frontend/.npmrc
allowed-builds=esbuild,vue-demi
only-built-dependencies[]=esbuild
only-built-dependencies[]=vue-demi
supported-architectures[]=current
supported-architectures[]=wasm32

# Allow this brand new version to bypass the supply-chain age rule
minimum-release-age-exclude[]=@nuxt/ui@4.11.0
